html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    max-width: 1420px;
    width: 100%;
    background-color: dimgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
}
.create {
    background-color: white;
    color: #030303;
    margin: 10% auto 0;
    display: flex;
    flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 20%;
padding: 20px;
text-align: center;
}
.name-field{
    padding: 5px;
    margin: 10px 5px;
    border-radius: 5px;
}
.submit-button{
    background-color: darkred;
    border-radius: 15px;
    color: white;
    width: 100px;
    padding: 10px;
    border: none;
}
.header{
        width: 100%;
        padding: 10px 50px;
        border: 1px solid white;
        border-radius: 5px;
        margin-top: 20px;
}
.start{

        width: 100%;
    background-color: transparent;
    margin: 50% auto auto;
}
.submit-button:hover{
    cursor: pointer;
    background-color: red;
    color: #030303;
}
.navigation-panel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.link, .main-link{
    text-decoration: none;
    color: antiquewhite;
    cursor: pointer;
}
.link:hover{
    color:burlywood;
    cursor: pointer;
}
.main-link:hover{
        color: antiquewhite;
            cursor: pointer;
}
.main-links{
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.nav-icon{
    width: 20px;
    padding: 5px;
    cursor: pointer;
}
.nav-icon:hover{
    cursor: pointer;
}
.character{
    width: 100%;
    padding: 20px 50px;
}
.character-description{
    display: flex;
}
.character-image img{
    width: 80%;
    border-radius: 15px;
}
.player {
max-width: 500px;
width: 100%;
}
.character-scores{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.character-mame{
    font-size: 2em;
}
.win{
    color:rgb(63, 246, 63);
}
.lose{
    color: red;
}
.choose{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.choose-img.character-image img{
    height: 400px;
    width: auto;
    margin: 2px;
    border: 1px solid white;
}
.choose-img.character-image img:hover {
cursor: pointer;
border: 1px solid burlywood;
}
.edit-button{
    width: 100px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    background-color: lightgray;
}
.edit-button:hover{
    cursor: pointer;
    background-color: burlywood;
}